*{
    padding: 0;
    margin: 0;
}
body{
    background: #000;
}
.game{
    margin: auto;
    width: 600px;
    height: 200px;
    border: 5px solid red;


}

#dino{
    width: 50px;
    height: 50px;
background-image: url(img/5887bb64bc2fc2ef3a186027.png);
   background-size: 50px 50px;
    position: relative;
    top: 150px;
    left: 30px;
}

#cactus{
  width: 20px;
  height: 40px;
  background-image: url(img/png-transparent-cactus-cactus-desert-green.png);
  background-color: green;
  background-size: 20px 40px;
  position: relative;
  top: 110px;
  left: 580px;
  animation: cactusMov 1.5s infinite linear;
}
@keyframes cactusMov {
    0%{
        left:580px;
    }
100% {
    left:-20px;

}
}
.jump{
    animation: jump 0.3s linear;
}
@keyframes jump {
    0%{
        top:140px;
    }
30%{
    top: 120px;
}
50%{
    top: 70px;
}
80%{
    top:120px;
}
100% {
    top:140px;

}
}






